# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
*.csv

# Model outputs
models/
*.pkl

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
